* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
}

.img {
    width: 600px;
    height: 600px;
    margin: 5px 5px;
    background-image: url(../BaiTap/phoenix-diesel-repair-1-1.png);
    border-radius: 10px;
    background-position: left, top;
}

.automotive {
    padding: 5px;
    text-align: center;
    max-width: fit-content;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    left: 25px;

}

.setting {
    cursor: pointer;
    z-index: 1;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: 100px;
    left: 520px;
}

i {
    max-width: fit-content;
    max-width: fit-content;
    transform: scale(2.5);
}

.line1 {
    width: 2px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 160px;
    left: 550px;
    transition: all 1s ease-in-out;
    transition-delay: 0.25s;
}

.menuA {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    position: absolute;
    top: 180px;
    left: 520px;
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}

.line2 {
    width: 2px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 240px;
    left: 550px;
    transition: all 1s ease-in-out;
    transition-delay: 0.75s;
}

.menuB {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    position: absolute;
    top: 260px;
    left: 520px;
    transition: all 1s ease-in-out;
    transition-delay: 1s;
}

.repaire {
    font-size: 25px;
    font-weight: bold;
    color: white;
    left: 25px;
    position: absolute;
    bottom: 300px;
}

.platform {
    color: white;
    position: absolute;
    top: 550px;
    left: 25px;
}